/*****************
General Formatting
******************/

* {
    box-sizing: border-box;
}

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

article,
aside {
    padding: .5rem;
}

#extracredit {
    width: 75%;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid darkblue;
}


/**************
Your Formatting
***************/

#yourgrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 30px auto auto 30px;
}

header {
    grid-row: 1;
}

article {
    background-color: lightcyan; 
    grid-row: 3;
}

aside {
    grid-row: 4;
    background-color: lightblue;
}

footer {
    grid-row: 5;
}

header, footer {
    background-color: lightpink;
}

header, footer, nav {
    display: flex;
    justify-content: center;
    align-content: center;
}

nav {
    grid-row: 2;
    background-color: lavenderblush;
    justify-content: space-around;
}

.mainmenu {
    background-color: #ccc;
    width: 6rem;
    margin: 0;
    margin-top: .3rem;
}

.submenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    background-color: #ddd;
}

@media screen and (min-width: 760px)
{
    #yourgrid{
        display: grid;
        min-height: 100%;
        max-width: 1000px;
        width: 90%;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 75px 30px auto auto 50px;
    }

    header {
        grid-row: 1;
        grid-column: 1/3;
    }

    nav {
        grid-row: 2;
        grid-column: 1/3;
    }

    aside {
        grid-row: 3/5;
        grid-column: 1;
    }

    article {
        grid-row: 3/5;
        grid-column: 2;
    }

    #extracredit {
        grid-row: 4;
        grid-column: 1;
    }

    footer {
        grid-row: 5;
        grid-column: 1/3;
    }
}