* {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    max-width: 1000px;
}

#personalInfo {
    text-align: center;
    width: 400px;
    border: 2px solid black;
    border-spacing: 5px;
    background-color: lightgray;
    padding: .2em;
    color: black;
    float: left;
    clear: left;
}

#personalInfo img {
    max-width: 100%;
}

#links {
    max-width: 700px;
    margin: 0 auto;
}

#exercises {
    float: left;
    margin: .5em 0 .5em 1em;
    padding: 2em;
    background-color: #d6d3d3; 
}

#projects {
    float: right;
    margin: .5em 0 .5em 1em;
    border: 1px black;
    background-color: #d6d3d3; 
}

header {
    height: 100px;
    width: 100%;
    background-color: #000000;
}