* {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    max-width: 1000px;
}

#personalInfo {
    text-align: center;
    width: 200px;
    border: 2px solid black;
    border-spacing: 5px;
    background-color: lightgray;
    padding: .2em;
    color: black;
    float: left;
    clear: left;
}

#personalInfo img {
    max-width: 75%;
}

#links {
    margin: 0 auto;
}

#exercises {
    float: left;
    margin: .5em 0 .5em 1em;
}

#projects {
    float: right;
    margin: .5em 0 .5em 1em;
    border: 1px black;
}

header {
    height: 100px;
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: 5em;
}