html{
    box-sizing: border-box;
    /*font-family: */
    font-size: 1.2em;
    background-color: grey;
}

a {
    /*color: */
    text-decoration: none;
}

header{
    display: grid;
    width: 100%;
    height: 100px;
    grid-template-columns: 1fr 3fr;
    grid-template-columns: 90px 30px;
    /*backgroun-color:*/
    /*color:*/
}

header img{
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    padding: 5px;
}

header h1 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
}

#menu {
    grid-column: 1/3;
    grid-row: 2;
    font-size: .6em;
    font-weight: 400;
    width: 100%;
    /*Background-color:*/
    padding: 5px;
    text-align: right;
}

#menu span {
    padding: 1px 2px;
    margin: 0 2px;
    border-radius: 3px;
}

/*hide the descriptions on mobile*/
#shortDescriptionOne, #shortDescriptionTwo, #shortDescriptionThree {
    display: none;
}

#capstoneProject {
    display: grid;
    height: 100 vh;
    grid-template-areas: "title", "description", "image";
    grid-template-rows: 2fr 2fr;
    max-width: 1000px;
    margin: 0 auto;
}

#projectTitleOne {
    grid-area: title;
}

#shortDescriptionOne {
    grid-area: description;
}

#projectPhotoOne {
    grid-area: image;
}

/*how the screen should be displayed on anything bigger than 768px*/
@media screen and (min-width: 768px)
{
    #wrapper {
        display: grid;
        margin: 0 auto;
        grid-template-columns: 250px auto;
        grid-template-rows: 200px auto auto;
        grid-gap: 10px;
        max-width: 1048px;
    }

    header {
        grid-row: 1;
        grid-column: 1/3;
        height: 100px;
        grid-template-rows: 70px 30px;
    }

    main {
        grid-row: 2;
        grid-column: 2;
    }

    header img {
        margin-top: 5px;
        max-height: 50;
    }

    header h1 {
        align-self: center;
    }

    #menu {
        grid-column: 1/3;
        font-size: .9em;
        padding-bottom: 5px;
    }

    #capstoneProject {
        grid-template-areas: "title"/*1st row*/
        "description image";/*2nd row*/
        grid-template-rows: 1fr 10fr; /*defines height of three rows*/
        grid-template-columns: 20% auto; /*defines width of the three columns*/
    }
}
